page-store {
  .fixed-content,
  .scroll-content {
    margin-top: 60px;
  }

  .store-gift-label {
    font-size: $font-size-small;
    font-weight: $font-weight-medium;
  }

  .store-gift-score {
    .score-points {
      border: 1px solid color($colors, primary);
      border-radius: 50%;
      display: inline-block;
      height: 10px;
      margin: 5px;
      width: 10px;
    }
  }
}
