onboarding {
  &.ion-page {
    [padding] {
      padding-top: 55px;
    }

    .swiper-slide {
      align-items: flex-start;

      .slide-image {
        margin-bottom: 35px;
      }

      .slide-title {
        color: color($colors, primary);
        font-size: $font-size-h1;
        margin-bottom: 40px;
      }

      .slide-body {
        color: $text-color;
        font-size: $font-size-base;
        line-height: 17px;
      }

      .button-explore {
        color: color($colors, secondary);
        font-size: $font-size-small;
        margin: 0;
        padding: 0;
        text-transform: none;
        white-space: normal;

        span {
          color: color($colors, primary);
        }
      }
    }
  }

  .swiper-pagination-bullet {
    background-color: $pagination-bullet;
  }
}