page-profile {
  .content {
    top: 60px;
  }

  .list {
    .item {
      padding-left: 0;

      .label {
        color: color($colors, primary);
        font-size: $font-size-base;
      }

      .item-inner {
        padding-left: 16px;
      }
    }
  }
}
