.button {
  &#button-favorite-store {
    display: block;
    height: 24px;
    width: 24px;
    margin: 12px auto;

    ion-icon {
      font-size: 1.4em;
      height: 24px;
      width: 24px;
      line-height: 1em;
      padding: 0;
    }
  }
}