// Regra para remover estilos desnecessários que são aplicados aos inputs em md.
.app-root.app-root-md.md.platform-android .item-md.item-input .item-inner {
  box-shadow: none;
}

form {
  &.account-form,
  &.login-form {
    .item {
      padding-left: 0;

      .item-inner {
        border-bottom: none;
        padding-right: 0;
      }

      .label,
      .text-input {
        color: color($colors, primary);
      }

      .label {
        font-size: $font-size-small;
        margin: 0;
        position: absolute;
        right: 15px;
        top: 18px;
      }

      .text-input {
        border-radius: 24px;
        border: 1px solid color($colors, primary);
        font-size: $font-size-base;
        font-weight: bold;
        height: 48px;
        line-height: 48px;
        margin: 0 0 15px;
        padding: 8px 70px 8px 15px;
        width: 100%;
      }
    }
  }
}