comp-header {
  .header {
    .toolbar {
      padding-left: 16px;
      padding-right: 16px;
    }

    .location-filters {
      .button-near-from-you {
        font-size: $font-size-base;
        font-weight: $font-weight-medium;
      }

      .button-change-location {
        font-weight: bold;
      }
    }
  }
}