login {
  &.ion-page {
    .logo {
      margin: 35px 0;
    }

    .social-login {
      .button-facebook {
        background-color: color($colors, facebook);
      }

      .button-google {
        background-color: color($colors, google-plus);
      }
    }
  }
}